:root {
  --text-color: #16697a;
  --highlight-color: #82c0cc;
  --primary-color: #489fb5;
  --secondary-color: #ffa62b;
  --bg-color: #ede7e3;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.nav-bar {
}
.main-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}
.main-page-container > * {
  width: 98%;
  display: flex;
  align-items: center;
  padding: 5px;
}
.main-page-header {
  height: 150px;
  flex-direction: row;
  justify-content: space-between;
  background-color: pink;
}
.main-page-body {
  height: 850px;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
}
.main-page-footer {
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgreen;
}
@page {
  size: A4;
  margin: 0.5cm;
}

@media print {
  * {
    /* height: initial !important; */
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
  .hidden-onprint,
  .hidden-onprint * {
    display: none;
  }
}
